*:disabled {
    cursor: not-allowed;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

textarea {
    resize: none;
}

.cursor-pointer {
    cursor: pointer;
}

.x-center {
    margin-left: 50%;
    transform: translate(-50%);
}

.opacity-0 {
    opacity: 0;
}

.opacity-75 {
    opacity: .75;
}

.opacity-50 {
    opacity: .5;
}

.view-app {
    position: fixed;
    bottom: 20px;
    right: 80px;
    box-shadow: 0 0 25px #333;
    z-index: 999;
}

#testimonials .swiper {
    width: 600px;
    height: 300px;
}

#caps-popularity {
    /* background: red; */
    /* max-width: 450px; */
}

.see-website {
    position: fixed;
    bottom: 28px;
    right: 70px;
    z-index: 999;
}

.notification {
    position: fixed;
    left: 30px;
    transition: .3s ease;

    bottom: -100px;
    opacity: 0;
    visibility: hidden;
}

.notification.show {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

.overflox-y-hidden {
    overflow-y: hidden !important;
} 

.overflow-x-auto {
    overflow-x: auto !important;
}

#list-items {
    /* background: red; */
}

.pagination {
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.pagination .active a {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #4e73df;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-result img {
    max-width: 230px;
}

@media screen and (max-width: 780px) {
    .search-result {
        max-width: 130px;
    }

    .search-result img {
        max-width: 130px;
    }
}